@font-face {
    font-family: 'RedRose-Bold';
    src: url(/font/RedRose-Bold.ttf);
    font-weight: bold;
}
body{
    margin: 0;
    text-align: center;
    font-family: RedRose-Bold;
}
.main_pass1{
    width: 400px;
    height: 390px;
    margin: auto;
}
.sub_pass1{
    padding-top: 50px;
    font-size: 40px;
    margin-bottom: 30px;
}
.main_pass1 input[type=email]{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 8px;
    border: 1px solid black;
    font-family: RedRose-Bold;
}
.main_pass1 input[type=text]{
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 8px;
    border: 1px solid black;
    font-family: RedRose-Bold;
}
.main_pass1 input[type=button]{
    width: 300px;
    height: 30px;
    border: 1px solid black;
    font-weight: bold;
    color: white;
    background: black;
    font-family: RedRose-Bold;
    font-size: 17px;
    border-radius: 10px;
    margin-top: 10px;
}
#numberSend{
    margin-bottom: 10px;
}
