.productview{
    margin-top: 100px;
}
.productview2{
    width: 1000px;
    margin: auto;
}
img{
    width: 700px;
    height: 500px;
}
.content{
    text-align: center;
}
.category1{
    font-size: 12px;
    color: grey;
    font-weight: bold;
}
.brand0{
    margin-top: 20px;
    text-align: center;
}
.brand1,.brand2,.brand3{
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    width: 1000px;
}
#bottom{
    margin-top: 10px;
}
.price1{
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-right: 50px;
}
.bottombrand1 div{
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.bottombrand1-1{
    width: 100px;
    text-align: center;
}
.bottombrand1-2{
    width: 200px;
}
.cate{
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background: #dcdcdc;
    font-weight: bold;
    font-size: 15px;
}
.size1{
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
    background: #dcdcdc;
    width: 400px;
    margin:auto;
}
#sizeG{
    width: 400px;
    margin: auto;
}
#sizeG2{
    display: flex;
    height: 30px;
    line-height: 30px;
    background: black;
}
#sizeG2 div{

}
.sizeG3{
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-left: 8px;
}
.deleteG{
    margin-left: auto;
    font-size: 30px;
    margin-right: 8px;
    font-weight: bold;
    color: white;
}
.sizeB1{
    display: flex;
    height: 60px;
    line-height: 60px;
    background: grey;
    font-weight: bold;
    font-size: 15px;
    color: white;
}
.sizeB2{
    margin-left: 8px;
}
.sizeB3{
    margin-left: auto;
    margin-right: 8px;
}
.sizeB4{
    margin-top: 18px;
}
.sizeB4 input{
    padding-left: 8px;
}
.priceG{
    border-top: 1px solid black;
    background: grey;
    text-align: right;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding-right: 8px;
}
.priceGG{
    height: 30px;
    width: 400px;
    text-align: right;
    margin: auto;
    line-height: 30px;
    font-weight: bold;
    font-size: 15px;
}
.last{
    display: flex;
    width: 400px;
    margin: auto;
    justify-content: center;
}
.last input{
    margin-right: 10px;
    width: 100px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background: black;
    border-radius: 5px;
    border: 1px solid black;
}
.last button{
    width: 100px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background: black;
    border-radius: 5px;
    border: 1px solid black;
}
.productview1{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 30px;
}