.topStock {
    font-weight: bold;
    font-size: 13px;
    margin-top: 100px;
}

.topStock1 {
    width: 1000px;
    margin: auto;
}

.top_sub {
    text-align: center;
    margin-bottom: 15px;
}

.top_sub div {
    display: inline-block;
}

.top_sub1 {
    width: 100px;
}

.top_sub2 {
    width: 250px;
}

.top_sub3 {
    width: 170px;
}

#stockList {
    text-align: center;
    margin-bottom: 10px;
}

#stockList div {
    display: inline-block;
}

.pageBlock {
    text-align: center;
}

.pageBlock a {
    margin-right: 5px;
}

#noList {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.back_btn {
    text-align: center;
}

.back_btn button {
    background: black;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
}

.category {
    margin-bottom: 20px;
    margin-left: 30px;
}

.category div {
    display: inline-block;
    width: 100px;
    text-align: center;
}
.top_search{
    text-align: right;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 25px;
}
.top_search div{
    display: inline-block;
}
.top_search input[type=text]{
    height: 30px;
    padding-left: 8px;
}
.top_search button{
    background: black;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
}
.topSub1{
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 30px;
}
.topSub2{
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 15px;
}
.topSub3{
    font-size: 12px;
    color: grey;
    margin-top: 15px;
    margin-bottom: 20px;
}